 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: #333;
  }
  .portrait {
    border-radius: 50%;
  }
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 5px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  .banner-pic{
    size-adjust: cover;
  }
  *{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.picture_desc_one{
  height: 300px;
  transform: rotate(180deg);
}
.proj_para{
  padding-left: 30%;
  padding-right: 30%;
}
.side{
  background-image: radial-gradient(circle, white, rgba(134, 134, 134, 0.493), rgb(65, 64, 64));
}

.maintxt{
  text-align: center;
  padding-top: 150px;
}
body{
  background-image: radial-gradient(circle, rgb(233, 233, 233), rgba(159, 157, 189, 0.493), rgb(166, 135, 216));
}
#abt_me{
  padding-left: 20%;
  padding-right: 10%;
}